{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Users</title>
    <link href="{% static 'chat/users.css' %}?newcode1" rel="stylesheet">
</head>
<body>


    <article class="users">
        <header>
            <h1 class="users__title"><span class="users__title--top">{{user.username}}</span></h1><span class="users__title--bottom">users</span>
        </header>
        {% for person in persons %}
        <main class="users__profiles">
          <article class="users__profile">
            <a style="text-decoration: none;" href="{% url 'addFriend' person.username %}" ><span class="users__name">{{person.username}}</span></a>
          </article>
        </main>
      </div>
      {% endfor %}
    
</body>

</html>