@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
 *, *:before, *:after {
	 box-sizing: border-box;
}
 body {
	 background: black;
	 font: 14px/20px "Lato", Arial, sans-serif;
	 padding: 40px 0;
	 color: white;
}
 .container {
	 margin: 0 auto;
	 width: 750px;
	 background: #444753;
	 border-radius: 5px;
}
 .people-list {
	 width: 260px;
	 float: left;
}
 .people-list .search {
	 padding: 20px;
}
 .people-list input {
	 border-radius: 3px;
	 border: none;
	 padding: 14px;
	 color: white;
	 background: #6a6c75;
	 width: 90%;
	 font-size: 14px;
}
 .people-list .fa-search {
	 position: relative;
	 left: -25px;
}
 .people-list ul {
	padding: 20px;
	height: 770px;
    list-style: none;
}

 .people-list ul li {
	padding-bottom: 20px;
	margin-bottom: -15px;
}
 .people-list img {
	 float: left;
}
 .people-list .about {
	 float: left;
	 margin-top: 8px;
}
 .people-list .about {
	 padding-left: 8px;
}
 .people-list .status {
	 color: #92959e;
}
 .chat {
	 width: 490px;
	 float: left;
	 background: black;
	 border-top-right-radius: 5px;
	 border-bottom-right-radius: 5px;
	 color: #434651;
}
 .chat .chat-header {
	 padding: 20px;
	 border-bottom: 2px solid black;
}
 .chat .chat-header img {
	 float: left;
}
 .chat .chat-header .chat-about {
	 float: left;
	 padding-left: 10px;
	 margin-top: 6px;
}
 .chat .chat-header .chat-with {
	 font-weight: bold;
	 font-size: 16px;
}
 .chat .chat-header .chat-num-messages {
	 color: #92959e;
}
 .chat .chat-header .fa-star {
	 float: right;
	 color: #d8dadf;
	 font-size: 20px;
	 margin-top: 12px;
}
 .chat .chat-history {
	 padding: 30px 30px 20px;
	 border-bottom: 2px solid black;
	 overflow-y: scroll;
	 height: 575px;
}
 .chat .chat-history .message-data {
	 margin-bottom: 15px;
}
 .chat .chat-history .message-data-time {
	 color: #a8aab1;
	 padding-left: 6px;
}
 .chat .chat-history .message {
	 color: white;
	 padding: 18px 20px;
	 line-height: 26px;
	 font-size: 16px;
	 border-radius: 7px;
	 margin-bottom: 30px;
	 width: 90%;
	 position: relative;
}
 .chat .chat-history .message:after {
	 bottom: 100%;
	 left: 7%;
	 border: solid transparent;
	 content: " ";
	 height: 0;
	 width: 0;
	 position: absolute;
	 pointer-events: none;
	 border-bottom-color: #86bb71;
	 border-width: 10px;
	 margin-left: -10px;
}
 .chat .chat-history .my-message {
	 background: #86bb71;
}
 .chat .chat-history .other-message {
	 background: #94c2ed;
}
 .chat .chat-history .other-message:after {
	 border-bottom-color: #94c2ed;
	 left: 93%;
}
 .chat .chat-message {
	 padding: 30px;
}
 .chat .chat-message textarea {
	 width: 100%;
	 border: none;
	 padding: 10px 20px;
	 font: 14px/22px "Lato", Arial, sans-serif;
	 margin-bottom: 10px;
	 border-radius: 5px;
	 resize: none;
}
 .chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
	 font-size: 16px;
	 color: gray;
	 cursor: pointer;
}
 .chat .chat-message button {
	 float: right;
	 color: #94c2ed;
	 font-size: 16px;
	 text-transform: uppercase;
	 border: none;
	 cursor: pointer;
	 font-weight: bold;
	 background: black;
}
 .chat .chat-message button:hover {
	 color: #75b1e8;
}
 .online, .offline, .me {
	 margin-right: 3px;
	 font-size: 10px;
}
 .online {
	 color: #86bb71;
}
 .offline {
	 color: #e38968;
}
 .me {
	 color: #94c2ed;
}
 .align-left {
	 text-align: left;
}
 .align-right {
	 text-align: right;
}
 .float-right {
	 float: right;
}
 .clearfix:after {
	 visibility: hidden;
	 display: block;
	 font-size: 0;
	 content: " ";
	 clear: both;
	 height: 0;
}
 

 


.submit-feedback {
	 padding: 10px 30px;
	 font-size: 24px;
	 cursor: pointer;
	 border-radius: 7px;
     width: 200px;
	 border-bottom-left-radius: 0;
	 background-color: var(--feedback-secondary-color);
	 color: var(--feedback-primary-color);
	 transition: all 0.3s;
}
 .submit-feedback:hover {
	 border-radius: 0px;
	 color: var(--feedback-primary-color);
	 background-color: var(--background-color);
	 background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffacac' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	 animation: animatedBackground 5s linear infinite alternate;
}

#mobile-cta{
	display: none;
}
 @keyframes animatedBackground {
	 from {
		 background-position: 0 0;
	}
	 to {
		 background-position: 100% 0;
	}
}



	.desktop{
		display: none;
	}

	body {
	 background: white;
	 font: 14px/20px "Lato", Arial, sans-serif;
	 padding: 40px 0;
	 color: white;
	 height: 100%;
}

	#mobile-cta{
	display: block;
}

	.container {
	 margin: 0 auto;
	 width: 380px;
	 background: #444753;
	 border-radius: 5px;
	 position: relative;
}



  .chat .chat-history {
	 padding: 30px 30px 20px;
	 border-bottom: 2px solid white;
	 overflow-y: scroll;
	 height: 550px;
}

.people-list {
   display: none;
   float: left;
   width: 80%;
   background-color: black;
   z-index: 99;
   position: absolute;
}



.chat {
	 width: 390px;
	 float: left;
	 background: white;
	 border-top-right-radius: 5px;
	 border-bottom-right-radius: 5px;
	 color: #434651;
}

.chat .chat-message button {

	 background: white;
}


.textarea-container {
  position: relative;
}
.textarea-container textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.textarea-container button {
  position: absolute;
  top: 0;
  right: 0;
}

/*Mobile*/

.topNav{
    background-color:rgb(2, 2, 27);
    height:55px;
    width: 100%;
}

.topNavDiv{
	float: left;
	width: 100%;
}
.topNavDivButton{
	background: none;
	border: none;
}


.topNavDivButtonImg{
	height: 35px;
	margin-right: 28px;
	margin-top: 5px;
}

.personName{
	padding: 0px;
	margin: 0px;
	text-align: center;
	position: relative;
	margin-top: 17px;
	font-family: cursive;
	font-size: 35px;
	font-weight: bold;
}

.chatDiv{
	background-image: url("https://i.pinimg.com/736x/85/ec/df/85ecdf1c3611ecc9b7fa85282d9526e0.jpg");
	height: 94% ;
	width: 100% ;
}

.chatDivInner{

	padding-top: 20px;
	overflow-y: scroll;
	height: 92%;

}

.chatDivInnerP{
	font-size: 20px;
	text-align: center;
}

.right-chat{

	background-color: green;
	float: right;
	clear: both;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 20px;
	margin-top: 10px;



}

.left-chat{
	margin-top: 10px;
	float: left;
	clear: both;
	background-color: blue;
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
	
}


.formDiv{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.theForm{
	margin: 0px;
}

#formTextArea{
	width: 75%;
	height: 31px;
	margin: 0px;
	margin-left: 10px;
	border-radius: 20px;
	font-size: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}

.formButton{

	background: none;
	border: none;

}

.buttonImage{
	height: 20px;
	margin-right: 28px;
	margin-top: 5px;
}

.homeUl{
	list-style: none;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.UlButton{
	width: 100%;
	height: 50px;
	background-color: aqua;
	border-color: aqua;
}

.buttonPs{
	float: left;
	font-size: 25px;
	margin: 0px;
	padding: 0px;
	padding-left: 15px;
}

.notification{
	background-color: rgb(20, 241, 149);
	height: 55px;
	width: 100%;
}

.notName{
	font-size: 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-style: italic;
}

.asButton {
    display: block;
    width: 100%;
    height: 50px;
	text-decoration: none;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 25px;
	font-size: 30px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.addUserButton{
	margin-right: 20px;
	margin-top: 13px;
	height: 30px;
	float: right;
	background: none;
	border: none;
}


.plusButton{
	height: 35px;
	margin-right: 5px;
}

/*Mobile*/

